.toDoList {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    &__label {
        font-size: 1.25rem;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.0075em;
        color: primary;
        margin: 10px;
    }

    .tasks {
        .done {
            margin: auto 5px auto auto;
            button {
                color: green;
            }
        }
        .remove button {
            color: red;
        }
    }

    .noTasks {
        color: green;
    }

    .row {
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
    }
    .MuiTableCell-root {
        color: red !important;
    }
}
