.toDoList {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    .tasks {
        background-color: yellow;
        .done {
            margin: auto 5px auto auto;
            button {
                color: green;
            }
        }
        .remove button {
            color: red;
        }
    }

    .noTasks {
        background-color: green;
    }

    .row {
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
    }
}
